@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

canvas {
    background: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }

::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #47bcb3;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #6699ee;
  }
.topnav {
    background-color: none;
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    
  }

  .topnav a.active {
    
    color: black;
  }
  .fa{
      color: black;
  }
  .topnav .icon {
    display: none;
  }
  .home{
      margin-left: auto;
      margin-right: auto;
      background-color: none;
      display: flex;
      flex-direction: column;
      margin-left: 5%;
      margin-top: 5%;
      justify-content: center;
      text-align: center;
  }
  .logo{
      width: 80%;
      margin-top: 10%;
      margin-bottom: 5%;
  }
  .register button{

    box-shadow:  5px 5px 10px #47bcb3, 
    -2px -2px 10px #61fef3;
    background-color: #54ddd3;
    color: #fff;
    border: none;
    transform: translateY(-4px);
    transition: 0.5s;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;


  }
  .register button:hover{
    transform: translateY(0px);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
.info{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

}
.box{
    border: 2px solid #47bcb3;
    padding: 20px;
    border-radius: 20px;
}
.box:hover{
    
box-shadow:  -7px -7px 14px #a7dadd, 
10px 10px 18px #c1faff;
}
.text p{
 line-height: 30px;
}
@media(max-width: 1000px){
   .info{
       width: 90%;
   }
}
