@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
canvas {
    background: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }

::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #47bcb3;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #6699ee;
  }
  .topnav {
    background-color: none;
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    
  }

  .topnav a.active {
    
    color: black;
  }
  .fa{
      color: black;
  }
  .topnav .icon {
    display: none;
  }

.form{
    width: 60%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    border: 2px solid #53cbf4;
    padding: 25px;
    border-radius: 20px;
    
}
.form{
  text-align: center;
  margin-top: 5em;
}
.h1{
    text-align: center;
}
.form p{
  margin-top: 10em;
}
.form-row{
   margin-left: auto;
   margin-right: auto;

}
.particpant{
    margin-bottom: 20px;
}
.instructions{
    text-align: left;
    line-height: 30px;
}
.sumbit{
height: 40px;
width: 100px;
border: 2px solid #53cbf4;
background-color: #ffffff;
border-radius: 5px;
}
.sumbit:hover{
    background-color: #53cbf4;
    color: white;
}
@media(max-width: 1000px){
    .form{
        width: 80%;
    } 
}