@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

canvas {
    background: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }
.h1{
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    visibility: hidden;
}

.team{
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: -20%;
}
.teacher{
    visibility: hidden;
}
.person {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;

  }
  .card:hover{
    
    box-shadow:  3px 3px 5px #47adcf, 
             -3px -3px 5px #5fe9ff;

  }
.card-text{
    font-size: 15px;
}
.btn {
    height: 40px;
    width: 100px;
    border: 2px solid #53cbf4;
    background-color: #ffffff;
    border-radius: 5px;
    color: black;
}
.btn:hover{
    background-color: #53cbf4;
    color: white;
}
@media(max-width: 1000px){
    .team{
        margin-top: 10%;
        display: grid;
        grid-template-columns: auto;
        margin-left: -40%;
    }  
}